{% extends 'empbase.html' %}
{% load static %}
{% block content %}
<div class="col-lg-9 col-md-8">
	<div class="dashboard-body">
		<div class="dashboard-caption">
			
			<div class="dashboard-caption-header">
				<h4><i class="ti-briefcase"></i>All Jobs</h4>
			</div>
			
			<div class="dashboard-caption-wrap">
			
				<form action="" method="post">
				<!-- row -->
				{%csrf_token%}
				<div class="row">
					
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search Name" name="searchname" required>
						</div>
					</div>
					
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="form-group">
							<select id="jb-filter" class="form-control" name="jobstatus" required>
								<option>Choose Job Status</option>
								<option>All Jobs</option>
								<option>Approved Jobs</option>
								<option>Expire Jobs</option>
								<option>Pending Payment</option>
								<option>Rejected Jobs</option>
								<option>Draft Jobs</option>
								<option>Full-Time</option>
							</select>
						</div>
					</div>
					
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="form-group">
							<button type="submit" class="btn btn-success manage-btn-lg">Search</button>
							<!-- <select id="jb-filter-date" class="form-control">
								<option>Default Shorting</option>
								<option>Title</option>
								<option>Date</option>
								<option>Modifications</option>
							</select> -->
						</div>
					</div>
					
				</div>
			</form>
				<!-- row -->
				{% for i in listofjob%}
				<ul class="list">
					<li class="manage-list-row clearfix">
						<div class="job-info premium-job">
							<div class="job-img">
								<!-- <img src="{% static 'assets/img/com-1.jpg'%}" class="attachment-thumbnail" alt="Academy Pro Theme"> -->
								<img src="../../media/{{i.companylogo}}" class="attachment-thumbnail" alt="Academy Pro Theme">
							</div>
							<div class="job-details">
								<h3 class="job-name">{{i.jobtitle}}<span class="cl-danger">$25</span></h3>
								<small class="job-company"><i class="ti-home"></i><a href="#">{{i.jobcategory}}</a></small>
								<small class="job-sallery"><i class="ti-credit-card"></i>{{i.salaryfrom}} - {{i.salaryto}}</small>
								<small class="job-update"><i class="ti-time"></i>Expired: {{i.date}}</small>
								<span class="j-type part-time">{{i.jobtype}}</span>
							</div>
						</div>
						<div class="job-buttons">
							<a href="{% url 'jobedit' i.id %}" class="btn btn-primary manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="ti-pencil-alt"></i></a> 
							<!-- <a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><i class="ti-close"></i></a> -->
						</div>
					</li>
					
					<!-- <li class="manage-list-row clearfix">
						<div class="job-info">
							<div class="job-img">
								<img src="{% static 'assets/img/com-2.jpg'%}" class="attachment-thumbnail" alt="Academy Pro Theme">
							</div>
							<div class="job-details">
								<h3 class="job-name">Custom Php Developer</h3>
								<small class="job-company"><i class="ti-home"></i><a href="#">Sales & Marketing</a></small>
								<small class="job-sallery"><i class="ti-credit-card"></i>25k - 35k</small>
								<small class="job-update"><i class="ti-time"></i>Expired: 6/14/19</small>
								<span class="j-type part-time">Part Time</span>
							</div>
						</div>
						<div class="job-buttons">
							<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="ti-pencil-alt"></i></a> 
							<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><i class="ti-close"></i></a>
						</div>
					</li> -->
					
					<!-- <li class="manage-list-row clearfix">
						<div class="job-info premium-job">
							<div class="job-img">
								<img src="{% static 'assets/img/com-3.jpg'%}" class="attachment-thumbnail" alt="Academy Pro Theme">
							</div>
							<div class="job-details">
								<h3 class="job-name">Web Maintenence <span class="cl-danger">$40</span></h3>
								<small class="job-company"><i class="ti-home"></i><a href="#">Accounting</a></small>
								<small class="job-sallery"><i class="ti-credit-card"></i>20k - 50k</small>
								<small class="job-update"><i class="ti-time"></i>Expired: 6/14/19</small>
								<span class="j-type full-time">Full Time</span>
							</div>
						</div>
						<div class="job-buttons">
							<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="ti-pencil-alt"></i></a> 
							<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><i class="ti-close"></i></a>
						</div>
					</li>
					 -->
					<!-- <li class="manage-list-row clearfix">
						<div class="job-info premium-job">
							<div class="job-img">
								<img src="{% static 'assets/img/com-4.jpg'%}" class="attachment-thumbnail" alt="Academy Pro Theme">
							</div>
							<div class="job-details">
								<h3 class="job-name">Photoshop Designer <span class="cl-danger">$32</span></h3>
								<small class="job-company"><i class="ti-home"></i><a href="#">Art & Education</a></small>
								<small class="job-sallery"><i class="ti-credit-card"></i>20k - 30k</small>
								<small class="job-update"><i class="ti-time"></i>Expired: 6/14/19</small>
								<span class="j-type freelancer">Freelancer</span>
							</div>
						</div>
						<div class="job-buttons">
							<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="ti-pencil-alt"></i></a> 
							<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><i class="ti-close"></i></a>
						</div>
					</li> -->
					
					<!-- <li class="manage-list-row clearfix">
						<div class="job-info">
							<div class="job-img">
								<img src="{% static 'assets/img/com-5.jpg'%}" class="attachment-thumbnail" alt="Academy Pro Theme">
							</div>
							<div class="job-details">
								<h3 class="job-name">HTML5 &amp; CSS3 Coder</h3>
								<small class="job-company"><i class="ti-home"></i><a href="#">Art & Design</a></small>
								<small class="job-sallery"><i class="ti-credit-card"></i>30k - 40k</small>
								<small class="job-update"><i class="ti-time"></i>Expired: 6/14/19</small>
								<span class="j-type part-time">part Time</span>
							</div>
						</div>
						<div class="job-buttons">
							<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="ti-pencil-alt"></i></a> 
							<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><i class="ti-close"></i></a>
						</div>
					</li> -->
					
					<!-- <li class="manage-list-row clearfix">
						<div class="job-info">
							<div class="job-img">
								<img src="{% static 'assets/img/com-6.jpg'%}" class="attachment-thumbnail" alt="Academy Pro Theme">
							</div>
							<div class="job-details">
								<h3 class="job-name">Humar Resource</h3>
								<small class="job-company"><i class="ti-home"></i><a href="#">Spa & Health</a></small>
								<small class="job-sallery"><i class="ti-credit-card"></i>25k - 40k</small>
								<small class="job-update"><i class="ti-time"></i>Expired: 6/14/19</small>
								<span class="j-type internship">Internship</span>
							</div>
						</div>
						<div class="job-buttons">
							<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="ti-pencil-alt"></i></a> 
							<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><i class="ti-close"></i></a>
						</div>
					</li> -->
					
					<!-- <li class="manage-list-row clearfix">
						<div class="job-info premium-job">
							<div class="job-img">
								<img src="{% static 'assets/img/com-1.jpg'%}" class="attachment-thumbnail" alt="Academy Pro Theme">
							</div>
							<div class="job-details">
								<h3 class="job-name">Data Manager<span class="cl-danger">$52</span></h3>
								<small class="job-company"><i class="ti-home"></i><a href="#">Hospital</a></small>
								<small class="job-sallery"><i class="ti-credit-card"></i>10k - 30k</small>
								<small class="job-update"><i class="ti-time"></i>Expired: 6/14/19</small>
								<span class="j-type full-time">Full Time</span>
							</div>
						</div>
						<div class="job-buttons">
							<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="ti-pencil-alt"></i></a> 
							<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><i class="ti-close"></i></a>
						</div>
					</li> -->
				
				</ul>
				{%endfor%}

				<ul class="pagination">
					<li class="page-item">
					  <a class="page-link" href="#" aria-label="Previous">
						<i class="ti-arrow-left"></i>
						<span class="sr-only">Previous</span>
					  </a>
					</li>
					<li class="page-item active"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item">
					  <a class="page-link" href="#" aria-label="Next">
						<i class="ti-arrow-right"></i>
						<span class="sr-only">Next</span>
					  </a>
					</li>
				</ul>
				
			</div>
			
		</div>
	</div>
</div>

</div>
</div>
{%endblock%}